<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ClienteSintegra.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ClienteSintegra.Properties.Settings>
      <setting name="ClienteOCR_RemoteGateway_Gateway" serializeAs="String">
        <value>
          http://www.ml-research.com/OCRGateway/gateway.asmx
        </value>
      </setting>
      <setting name="ClienteOCR_Gateway_Gateway" serializeAs="String">
        <value>
          http://localhost:53568/Gateway.asmx
        </value>
      </setting>
    </ClienteSintegra.Properties.Settings>
  </applicationSettings>
</configuration>