<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        
        <!--Veja como configurar em URL_AQUI-->
        
        <add key="theta1.PredictCaptchaAM" value="{WebAM}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaAM" value="{WebAM}\Resources\theta2.csv"/>
        
        <add key="theta1.PredictCaptchaCA" value="{WebCA}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaCA" value="{WebCA}\Resources\theta2.csv"/>
        
        <add key="theta1.PredictCaptchaCM" value="{WebCM}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaCM" value="{WebCM}\Resources\theta2.csv"/>
        
        <add key="theta1.PredictCaptchaMG" value="{WebMG}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaMG" value="{WebMG}\Resources\theta2.csv"/>

        <add key="theta1.PredictCaptchaNFE" value="{WebNFE}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaNFE" value="{WebNFE}\Resources\theta2.csv"/>
        <add key="ArquivoTheta1Padroes_NFE" value="{WebNFE}\Resources\Theta1Padroes.csv"/>
        <add key="ArquivoTheta2Padroes_NFE" value="{WebNFE}\Resources\Theta2Padroes.csv"/>
        

        <add key="theta1.PredictCaptchaRF" value="{WebRF}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaRF" value="{WebRF}\Resources\theta2.csv"/>

        <add key="theta1.PredictCaptchaRJ" value="{WebRJ}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaRJ" value="{WebRJ}\Resources\theta2.csv"/>

        <add key="theta1.PredictCaptchaSP" value="{WebSP}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaSP" value="{WebSP}\Resources\theta2.csv"/>
    </appSettings>
</configuration>