<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClientePost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="theta1.PredictCaptchaAM" value="{WebAM}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaAM" value="{WebAM}\Resources\theta2.csv"/>

        <add key="theta1.PredictCaptchaCA" value="{WebCA}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaCA" value="{WebCA}\Resources\theta2.csv"/>

        <add key="theta1.PredictCaptchaCM" value="{WebCM}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaCM" value="{WebCM}\Resources\theta2.csv"/>

        <add key="theta1.PredictCaptchaMG" value="{WebMG}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaMG" value="{WebMG}\Resources\theta2.csv"/>

        <add key="theta1.PredictCaptchaNFE" value="{WebNFE}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaNFE" value="{WebNFE}\Resources\theta2.csv"/>
        <add key="ArquivoTheta1Padroes_NFE" value="{WebNFE}\Resources\Theta1Padroes.csv"/>
        <add key="ArquivoTheta2Padroes_NFE" value="{WebNFE}\Resources\Theta2Padroes.csv"/>


        <add key="theta1.PredictCaptchaRF" value="{WebRF}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaRF" value="{WebRF}\Resources\theta2.csv"/>

        <add key="theta1.PredictCaptchaRF3" value="{WebRF3}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaRF3" value="{WebRF3}\Resources\theta2.csv"/>

        <add key="theta1.PredictCaptchaRJ" value="{WebRJ}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaRJ" value="{WebRJ}\Resources\theta2.csv"/>

        <add key="theta1.PredictCaptchaSP" value="{WebSP}\Resources\theta1.csv"/>
        <add key="theta2.PredictCaptchaSP" value="{WebSP}\Resources\theta2.csv"/>


        <add key="ArquivoTheta1_CRJ" value="C:\OCR\Servidor\ocrCRJ\resources\Theta1_CRJ.csv"/>
        <add key="ArquivoTheta2_CRJ" value="C:\OCR\Servidor\ocrCRJ\resources\Theta2_CRJ.csv"/>
        <add key="ArquivoTheta1Azul_CRJ" value="C:\OCR\Servidor\ocrCRJ\resources\Theta1Azul_CRJ.csv"/>
        <add key="ArquivoTheta2Azul_CRJ" value="C:\OCR\Servidor\ocrCRJ\resources\Theta2Azul_CRJ.csv"/>
        <add key="ArquivoTheta1Verde_CRJ" value="C:\OCR\Servidor\ocrCRJ\resources\Theta1Verde_CRJ.csv"/>
        <add key="ArquivoTheta2Verde_CRJ" value="C:\OCR\Servidor\ocrCRJ\resources\Theta2Verde_CRJ.csv"/>
        <add key="ImagesDir" value="C:\OCR\Testes\RF\"/>
        <add key="TemplatesC2" value="C:\OCR\Servidor\ocrtipo2\Templates.txt"/>
        <add key="LogDir" value="C:\OCR\Testes\log\"/>
    </appSettings>
    <applicationSettings>
        <ClientePost.Properties.Settings>
            <setting name="ClientePost_GatewayLocal_Gateway" serializeAs="String">
                <value>http://localhost:53568/Gateway.asmx</value>
            </setting>
            <setting name="ClientePost_GatewayRemoto_Gateway" serializeAs="String">
                <value>http://www.ml-research.com/ocrgateway/gateway.asmx</value>
            </setting>
            <setting name="ClientePost_WS_OCR" serializeAs="String">
                <value>http://www.ml-research.com/ocrnfe/ocr.asmx</value>
            </setting>
            <setting name="ClientePost_WSLocal_OCR" serializeAs="String">
                <value>http://localhost:53543/OCR.asmx</value>
            </setting>
        </ClientePost.Properties.Settings>
    </applicationSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
