<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings xdt:Transform="Remove">
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings>
    <add key="LogDir" value="D:\Hosting\9799333\html\ocrgateway\log\" xdt:Transform="Insert" />
  </appSettings>
  <applicationSettings>
    <WebGateway.Properties.Settings xdt:Transform="Replace">
      <setting name="WebGateway_WS_AM_OCRAM" serializeAs="String">
        <value>http://www.ml-research.com/ocram/ocr.asmx</value>
      </setting>
      <setting name="WebGateway_WS_CA_OCRCA" serializeAs="String">
        <value>http://www.ml-research.com/ocrca/ocr.asmx</value>
      </setting>
      <setting name="WebGateway_WS_CM_OCRCM" serializeAs="String">
        <value>http://www.ml-research.com/ocrcm/ocr.asmx</value>
      </setting>
      <setting name="WebGateway_WS_CM_OCRCAM" serializeAs="String">
        <value>http://www.ml-research.com/ocrcam/ocr.asmx</value>
      </setting>
      <setting name="WebGateway_WS_CRJ_OCRCRJ" serializeAs="String">
        <value>http://www.ml-research.com/ocrcrj/ocr.asmx</value>
      </setting>
      <setting name="WebGateway_WS_MG_OCRMG" serializeAs="String">
        <value>http://www.ml-research.com/ocrmg/ocr.asmx</value>
      </setting>
      <setting name="WebGateway_WS_NFE_OCRNFE" serializeAs="String">
        <value>http://www.ml-research.com/ocrnfe/ocr.asmx</value>
      </setting>
      <setting name="WebGateway_WS_RJ_OCRRJ" serializeAs="String">
        <value>http://www.ml-research.com/ocrrj/ocr.asmx</value>
      </setting>
      <setting name="WebGateway_WS_SI_OCRSI" serializeAs="String">
        <value>http://www.ml-research.com/ocrsi/ocr.asmx</value>
      </setting>
      <setting name="WebGateway_WS_SP_OCRSP" serializeAs="String">
        <value>http://www.ml-research.com/ocrsp/ocr.asmx</value>
      </setting>
      <setting name="WebGateway_WS_RF_OCRRF" serializeAs="String">
        <value>http://www.ml-research.com/ocrrf/ocr.asmx</value>
      </setting>
      <setting name="WebGateway_WS_RF3_OCRRF3" serializeAs="String">
        <value>http://www.ml-research.com/ocrrf3/ocr.asmx</value>
      </setting>
      <setting name="WebGateway_WS_TJPE_OCRTJPE" serializeAs="String">
        <value>http://www.ml-research.com/ocrtjpe/ocr.asmx</value>
      </setting>
      <setting name="WebGateway_WS_ESAJ_OCRESAJ" serializeAs="String">
        <value>http://www.ml-research.com/ocresaj/ocr.asmx</value>
      </setting>
      <setting name="WebGateway_WS_PJE_OCRPJE" serializeAs="String">
        <value>http://www.ml-research.com/ocrpje/ocr.asmx</value>
      </setting>
      <setting name="WebGateway_WS_TRTSP_OCRTRTSP" serializeAs="String">
        <value>http://www.ml-research.com/ocrtrtsp/ocr.asmx</value>
      </setting>
    </WebGateway.Properties.Settings>
  </applicationSettings>

</configuration>