<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <connectionStrings>
    <add name="ocrdbEntities" connectionString="metadata=res://*/OcrDB.csdl|res://*/OcrDB.ssdl|res://*/OcrDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=ocrdb;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Elmah.Sql" connectionString="data source=.\sqlexpress;database=OcrDb;integrated security=True;"/>
  </connectionStrings>
</configuration>